body{
     font-family: 'Grape Nuts-lightbold', cursive;
}

h1, h2, h3, h4 {
     font-family: 'Quicksand', sans-serif;

}

h1{
     
     font-size: 3rem;
     line-height: 1.5;
     font-weight: bold;
}

h2{
   
     font-size: 2rem;
     line-height: 1.5;
}

h3{
    
     font-weight: bold;
}

p{
     color: grey;
     font-size: 16px;
}

.container-fluid{
  padding: 3% 15%;
}

#contact{
     background-color:#F4F3EA  
}

.container{
padding-top: 2rem;
}

.carousel-item{
     padding: 10% 15%;
}

.navbar{
     padding-bottom: 4rem;
}
.navbar-brand{
     font-family: 'Grape Nuts', cursive;
     font-size: xx-large;
     font-weight: bold;
}
.nav-item{
     padding: 0px 16px;
}

.nav-link{
     font-size: 15px;
     font-weight: 200;
}

.download-button{
     margin: 5% 3% 5% 0;
}

#title{
     background-color: #354649;
     color: beige;
}

.title-image{
     width: 60%;
     transform: rotate(25deg);       
}

#features{
     padding: 7% 15%;
     background-color:#F4F3EA;    
}

.fearture-box{
     text-align: center;
     padding:  5%;
}

.icon{
     color: #354649;
     margin-bottom: 1rem;
     margin-left: 5rem;
}

.icon:hover{
     color: grey;
}

.social-icon{
     margin: 20px 10px;
}

#testimonials{
     padding: 3% 5%;
     text-align: center;
     background-color: #354649 ;
     color: white;
}

.testimonial-image{
     width: 18%;
     border-radius: 20%;
     margin: 20px;   
}


#pricing{
     padding: 120px;
     text-align: center;
     background-color:#F4F3EA;
}

.pricing-column{
    padding: 3% 2%;
}

#footer{
     padding: 7% 15%;
     text-align: center;
     background-color:#F4F3EA ;
}
#cta{
   background-color: #354649;
   color: white;
   padding: 7% 15%;

}
.cta-heading{
     font-family: 'Quicksand', sans-serif;
     font-size: 2rem;
     line-height: 1;
     text-align: center;
}

@media (max-width:1028px){
     #title{
          text-align: center;
     }

     .title-image{
          position: static;
          transform: rotate(0deg);
     }
     .icon{
         position: static;
         transform: scaleX();
         text-align: center;
         margin-left: 3rem;
     }

     #features{
          text-align: center;
     }
}

